/* Light Mode (default) */
:root {
  --ion-background-color: #ffffff ;
  --ion-background-color-rgb: 255, 255, 255;

  --ion-text-color: #000000;
  --ion-text-color-rgb: 0, 0, 0;

  /* ===== Toolbar (Header) — make it purple ===== */
  --ion-toolbar-background: #8e24aa;   /* tím */
  --ion-toolbar-color: #ffffff;        /* chữ & icon white */

  /* List items */
  --ion-item-background: #ffffff;
  --ion-item-color: #000000;

  --avatar-bg: #C7A4FF; /* light purple */

  --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom);
}

/* ===== DARK MODE ===== */
html.dark {
  --ion-background-color: #121212;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  /* ===== Toolbar (Header) — vẫn tím trong dark mode ===== */
  --ion-toolbar-background: #8e24aa;
  --ion-toolbar-color: #ffffff;

  /* Ion items */
  --ion-item-background: #1f1f1f;
  --ion-item-color: #ffffff;

  /* Menu background */
  --ion-menu-background: #1e1e1e;

  --avatar-bg: #9567E0; /* darker purple */
}

/* Dark mode – stronger modal border */
html.dark ion-modal {
  --border-width: 1px;
  --border-style: solid;
  --border-color: rgba(255, 255, 255, 0.25);
}

/* 🔥 Kill iOS auto dark via media query */
@media (prefers-color-scheme: dark) {
  :root:not(.dark) {
    --ion-background-color: #ffffff !important;
    --ion-text-color: #000000 !important;
    --ion-item-background: #ffffff !important;
  }
}

/* ===== Prevent iOS from auto scaling text ===== */
html {
  -webkit-text-size-adjust: 100%;
}

/* Menu + list labels */
.ios ion-label ion-menu {
  font-size: 0.9rem;
  line-height: 1.2;
}

/* =====================================================
   iOS ONLY: compact menu ion-item to avoid text wrap
   ===================================================== */
.ios ion-menu ion-item {
  --min-height: 44px;          /* default iOS ~50–56px */
  --padding-start: 12px;       /* default ~16px */
  --padding-end: 12px;
}

/* Ensure label stays on one line */
.ios ion-menu ion-label {
  white-space: nowrap;
}

.all-modal-title {
  font-size: 14px;
  font-weight: 550;
  color: var(--ion-text-color);
  margin-bottom: 14px;
}