/* Global reusable bottom action button */
.go-bottom-btn {
  --background: rgb(146, 18, 163);
  --color: #ffffff;
  --border-radius: 8px;
  text-transform: none !important;
  font-weight: 500;
}

.go-bottom-btn-outline {
  --background: transparent;
  --color: rgb(146, 18, 163);
  --border-color: rgb(146, 18, 163);
  --border-width: 2px;
  --border-style: solid;
  --border-radius: 12px;
  text-transform: none !important;
  font-weight: 500;
}

/* ===== iOS FIX: ion-input text not visible in light mode ===== */
ion-input::part(native) {
  color: var(--ion-text-color) !important;
}

/* Placeholder */
ion-input::part(native)::placeholder {
  color: rgba(0, 0, 0, 0.45);
}

/* Dark mode override */
html.dark ion-input::part(native) {
  color: #ffffff !important;
}

html.dark ion-input::part(native)::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

/* iOS ion-menu and ion-item*/
.ios ion-menu ion-item::part(native) {
  font-size: 0.90rem;
  font-weight: 470;       
}

/* iOS toggle – improve contrast in LIGHT MODE */
.ios ion-menu ion-toggle {
  --track-background: #d1d1d6;           /* iOS gray  */
  --track-background-checked: #8e24aa;   /* brand purple*/
  --handle-background: #ffffff;
  --handle-background-checked: #ffffff;
}