/* Global reusable bottom action button */
.go-bottom-btn {
  --background: rgb(146, 18, 163);
  --color: #ffffff;
  --border-radius: 8px;
  text-transform: none !important;
  font-weight: 500;
}

.go-bottom-btn-outline {
  --background: transparent;
  --color: rgb(146, 18, 163);
  --border-color: rgb(146, 18, 163);
  --border-width: 2px;
  --border-style: solid;
  --border-radius: 12px;
  text-transform: none !important;
  font-weight: 500;
}

/* ===== FIX ion-input text color (Light + Dark mode) ===== */
ion-item {
  --background: var(--ion-item-background);
  --color: var(--ion-text-color);
}

ion-input {
  --color: var(--ion-text-color);
  --placeholder-color: rgba(0, 0, 0, 0.4);
}

html.dark ion-input {
  --placeholder-color: rgba(255, 255, 255, 0.5);
}
